# .gitignore
__pycache__/
*.pyc
.env
.env.*
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
data/raw/*
venv/
.venv/
.DS_Store
*.log
.vscode/
.idea/
terraform.tfplan
client/node_modules/
client/dist/
client/package-lock.json
